<div style="width: 200px; margin: 10px">
  <mat-expansion-panel #matExpansionPanel [hideToggle]="item.children.length === 0" *ngFor="let item of menuItems">
    <!--TODO: 2 the same functions, solce in different way-->
    <mat-expansion-panel-header (click)="[expandPanel(matExpansionPanel, item), showLinkInfo(item, subItem)]" >
      <mat-panel-title>
        {{item.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngFor="let subItem of item.children" (click)="showLinkInfo(item, subItem)">{{subItem.name}}</p>
  </mat-expansion-panel>
</div>
<span>{{content}}</span>
