<div class="main-container">
  <section>
    <h4>Language</h4>
    <mat-form-field>
      <mat-select placeholder="Language...">
        <ng-container *ngFor="let language of languagesArr" >
          <mat-option (onSelectionChange)="onLanguageSelectionChange(language, $event)" [value]="language.name" [disabled]="getLanguageNameValid(language)">
            {{language.name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <button (click)="saveLanguage(language.name)" mat-raised-button [disabled]="!selectedLanguage">Save</button>
  </section>
  <section>
    <h4>Notification</h4>
    <mat-form-field>
      <mat-select #f placeholder="Notification..." multiple [formControl]="notificationsFormControl">
        <mat-option *ngFor="let notification of notifications" [value]="notification">{{notification.type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button [disabled]="!DataHelper.hasAnyElement(notificationsFormControl.value)" mat-raised-button (click)="saveNotificationTypes()">Save</button>
  </section>
  <section>
    <form [formGroup]="emailForm">
      <table>
        <h4>Notification</h4>
        <mat-form-field>
          <input matInput formControlName="email" name="email" placeholder="email">
        </mat-form-field>
        <button mat-raised-button [disabled]="!emailForm.valid" (click)="saveEmail()">Save</button>
      </table>
    </form>
  </section>
</div>
