<section>
  <header>
    <div class="item-list">
      <a class="item" [routerLink]="['/dashboard']">Dashboard</a>
      <a class="item" [routerLink]="['/configuration']">Configuration</a>
    </div>
  </header>

  <div class="main-container">
    <div class="side-menu">
      <mat-expansion-panel #matExpansionPanel mat-elevtion-z2 [hideToggle]="item.children.length === 0" *ngFor="let item of menuItems">
        <!--TODO: 2 the same functions, solve in different way-->
        <mat-expansion-panel-header (click)="[expandPanel(matExpansionPanel, item), showLinkInfo(item, subItem)]" >
          <mat-panel-title color="primary">
            {{item.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let subItem of item.children" (click)="showLinkInfo(item, subItem)">{{subItem.name}}</p>
      </mat-expansion-panel>
    </div>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>




