<div class="main-container">
  <mat-card class="login-card">

    <!--Header-->
    <mat-card-header>
      <mat-card-title class="sign-in-title">
        <div>SIGN IN</div>
      </mat-card-title>
      <mat-card-title>
        <span *ngIf="submitted && response === responseType.CREDENTIALS_INVALID && !connectionFailed" class="response-error">
          Username or password is incorrect
        </span>
        <span *ngIf="connectionFailed" class="response-error">
          Connection to database failed
        </span>
      </mat-card-title>
      <mat-card-title class="user-icon">
        <i class="fas fa-user-alt fa-2x"></i>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!--Form-->
      <form [formGroup]="loginForm">
        <table cellspacing="0" fxFlex="80">
          <tr>
            <td>
              <mat-form-field fxFlex="100">
                <input matInput formControlName="username" placeholder="Username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field>
              <input matInput formControlName="password" placeholder="Password" type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
      </form>
    </mat-card-content>

    <!--Submit section-->
    <mat-card-actions class="justify-content-center">
      <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
      <button type="submit" class="submit" [disabled]="!loginForm.valid" (click)="onSubmit()" mat-raised-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>
